.date {
  font-style: italic;
  font-size: 0.7em;
}
.name {
  font-weight: bolder;
}
.title {
  display: inline-block;
  margin-left: 5px;
  font-style: italic;
  font-size: 1.2em;
  font-weight: bolder;
  width: 85%;
  margin-bottom: 10px;
}
